

  <div class="container">

    
      <h1 class="text-left"><span></span>Snag Someone</h1>



    <div class="row">
      {{!-- <div class="col-lg-4">
        <form>
          <div class="form-group">
            <label for="tier">Tier</label>
            <select class="form-control" id="tier">
              <option value="">Select tier</option>
              <option value="1">Tier 1</option>
              <option value="2">Tier 2</option>
              <option value="3">Tier 3</option>
            </select>
          </div>
        </form>        
      </div>  --}}
      <div class="col-lg-12">
        <form>
              <div class="form-group">
                <label for="gender">Snagging who?</label>
                <select class="form-control" id="gender">
                  <option value="">Select gender</option>
                  <option value="male">Men</option>
                  <option value="female">Women</option>
                </select>
              </div>
        </form>
      </div>  
      {{!-- <div class="col-lg-4">
        <div class="form-group">
          <label for="type">Got a type?</label>
          <select class="form-control" id="type">
            <option value="">Choose type</option>
            <option value="bad one">Bad one</option>
            <option value="take home to parents">Take home to parents</option>
            <option value="the perfect date">The perfect date</option>
            <option value="eccentric">The eccentric</option>
          </select>
        </div>
      </div> --}}
        <form role="form">
          <button type="submit" class="btn btn-primary submit">Submit</button>
        </form>

      
      <div class="row" id="displayResult">
        {{#each date}}
        
      
      <img id= "photo"  src="{{photo}}">
      
       
      {{/each}}
      </div>


       
    


      
    </div>
  </div>

<br>



<!-- BELOW CODE IS CRITICAL. IT HANDLES HOW FORM DATA IS SENT TO OUR SERVER -->
<script type="text/javascript">

 //$.get("/api/dates", function(data) {
        //for (let i = 0; i < data.length; i++) {
          //$('#displayResult').append("<div>" + data[i].name + "</div>");
         //  $("#displayResult").append("<img style='width: 300px; height: 300px; float: left; border: 25px; padding: 25px;' class='img - thumbnail' src=" + data[i].photo + ">");
      //  }
     // })

      



$(".submit").on("click", function(event) {
      event.preventDefault();

      $('#displayResult').empty();
          var filter = {
            tier: parseInt($("#tier").val()),
            gender: $("#gender").val(),
            type: $('#type').val()
          };


        $.get("/search/" + filter.gender, function (data) {
          renderdata(data);
        });

          function renderdata(results){
            for (let index = 0; index < results.length; index++) {
              //$("#displayResult").append("<div>" + results[index].name + "</div>");
              $("#displayResult").append("<img id='photo'  src='" + results[index].photo + "'>");
            }
          }

          
     
});
</script>