#photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: left;
    border: 25px;
    padding: 25px;
}

#photo:hover {
    opacity: 0.3;
    color: #9474b8;
}

.jumbotron.jumbotron-fluid {
    background-color: #9474b8;
}

#myModal {
    color: #9474b8;
}